
$primary: #8b4513;
$secondary: rgb(253, 214, 137);
$body-bg: rgb(249, 250, 235);
$jumbotron-bg: $white;
$orange: rgb(255, 154, 69);
$warning: $orange;
$green: rgb(59, 204, 92);
$red: rgb(226, 19, 16);