
$primary: #9e4e16;
$secondary: rgb(253, 200, 144);
$body-bg: rgb(250, 249, 235);
$jumbotron-bg: $white;
$orange: rgb(230, 120, 29);
$warning: $orange;
$green: rgb(59, 204, 92);
$red: rgb(255, 30, 64);